<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %>
    <div>
        <img class="home_img" src="images/logo.png">
    </div>
    <section class="container">
        <%- include("partials/navbar.ejs") %>
        <article class="content">
            <h1> Welcome! </h1>
            <p>
                Article text example.
            </p>
            <p>
                Article text example.
            </p>
            <p>
                Article text example.
            </p>
        </article>
    </section>
    <%- include("partials/footer.ejs") %>
    <!-- //-EJS is seeing the folders so we don't have to point them out, just the folders/files within it -->
    <%- include("partials/foot.ejs") %>
</body>
</html>