<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
    <section class="container">
        <%- include("partials/navbar.ejs") %>
        <article class="content"> <!-- CSS'S BOX NOT INCLUDING ALL CONTENT -->
            <h1>POSTS:</h1>
            <% posts.forEach(item=>{ %>
                <div>
                    <% if (item.stars){ %>
                        <% for(let i = 0; i < item.stars; i++){ %>
                            <img src="images/star.pgn"> <!-- CAN'T LOAD IMG -->
                        <% } %> 
                    <% } %>
                    <h3><%= item.title %></h3>
                    <p><%= item.text %></p>
                    <br>
                </div>                
            <% }) %>
        </article>
    </section>
    <%- include("partials/footer.ejs") %> 
</body>
</html>